/* src/components/Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.items-table {
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.items-table th,
.items-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.items-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.items-table td {
    max-width: 200px; /* Adjust as necessary */
}

.items-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.items-table tr:hover {
    background-color: #f1f1f1;
}

.item-image {
    width: 100px; /* Set a fixed width for the image */
    height: auto;
    display: block;
    margin: 0 auto;
}
